.red {
    color: #e63946;
}
.navbar {
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1000;
    background-color: #f8f9fa;
}
.container{
    font-family: 'Fredericka the Great', cursive;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    transition: color 0.3s ease;
    cursor: pointer;
}
.navbar-brand:hover {
    color: #e63946;
}
.navbar-nav {
    margin-left: auto;
}
.nav-item {
    margin-left: 10px;
}
.navbar-toggler {
    border-color: rgba(78, 98, 18, 0.1);
}