.hidden {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.btn-danger:hover {
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}


.btn-success:hover {
    background-color: #00ff37;
    border-color: #00ff37;
}

.d-none {
    display: none;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}