:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: rgb(160, 144, 144);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  padding-top: 60px;
  background-image: url("./img/tattoostudio.webp");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed; 
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 2rem; 
}

.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.card{
  background-color: rgb(232, 234, 235);
}