:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-top: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: src=''
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #c5bebe;
  text-align: center;
  margin-bottom: 2rem; 
}

p, th, td, tr, label, input, select, .btn {
  font-family: 'PT Serif', serif;
}

.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.card{
  background-color: rgb(86, 87, 88);
}